
<li>
  <p>最新の投稿者</p>
</li><br>
<li class="row" id="follows">
<% @topics.each do |topic| %>
  <%# if current_user.following?(topic.user) %>
    <div class="col-sm-4">
      <%= profile_img(topic.user) %>
      <% if topic.user.name == nil %>
        <p>名前未定</p>
      <% elsif %>
        <p><%= topic.user.name %></P>
      <% end %>
    </div>
  <%# end %>
<% end %>
</li>
