<section class="container">
  <div class="row text-center">
    <%= link_to 'New Topic', new_topic_path, class: "btn btn-default btn-lg btn-block", remote: true %><br>
    <div id="topic-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><br>
  </div><br>
  <div class="row">
    <div class="col-offset-md-4 col-md-4">
      <div class="card">

        <%= render "index" %>        
      
      </div>
    </div>
    
  </div>
</section>
