// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.iconimg {
  height: 150px
}

.pics {
  padding: 0, 30, 0, 30;
}

.timg {
  width: 450px;
  position: center;
  border: solid 1px #E5E6E6;
}

.card {
  border:2px, solid, #fbfbfb;
  border-radius: 5px;
  padding: 10px;
}

.card-block {
  background-color: white;
  border-radius: 5px;
  border:2px, solid, black;
}

//new
.card-block {
  border:2px, solid, black;
  border-radius: 5px;
}

//show
.show-img {
  height: 300px;
}