// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//edit mypage
h3 {
  text-align: center;
}

#update {
  float: right;
}

li {
  list-style: none;
  color: blue;
}

a {
  color: blue;
}

//show user
.card {
  border: solid 1px #ccc;
  background-color: #f7f7f7;
}

.btns {
  padding: 0;
}

.message {
float: left;
}

.follow {
  float: right;
}

//index user
