// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//edit mypage
h3 {
  text-align: center;
}

#update {
  float: right;
}
.person {
  border: 1px solid #ccc;
  padding: 8px;
}
.func {
  padding: 0;
}

.indexusers {
 box-sizing: content-box; 
}

li {
  list-style: none;
  color: blue;
}

a {
  color: blue;
}

.linkname {
  color: blue;
}

.linkmesse {
  color: blue;
}

.message {
float: left;
}

.follow {
  float: right;
}
