// Place all the styles related to the users::registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  background-color: #dfe3ee;
  text-align: center;
  p {
    padding-top: 10px;
  }
}
#title {
  padding-left: 50px;
}

/*edit page*/
h2 {
  text-align: center;
}

#icon {
  padding: 100px;
}

#updates {

}

.cancel {
  margin-top: 100px;
  padding-left: 500px;
}